.git*.lnk
!.gitignore
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
dist
package-lock.json
webpack.config.js
*.json
!.prettierrc.json
!babel.config.json
!package.json
!tsconfig.json
!tsconfig.node.json
!webpack.config.js

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
__pycache__